%hmtl
  %body
    Hello,
    %p
      You were subscribed to
      = @twitter_user
      account in Twitter.
    %p
      If you want to un-subscribe, please visit the section
      %i
        'Manage'
      at the Tweetly website.
    %p
      Sincerely yours, Tweetly