// colors from: https://dribbble.com/shots/3656220-Website-Landing-Screen

$color-background: #5D66A9;
$color-header1: #3634BB;
$color-header2: #54A0FE;
$color-header3: #EAB863;
$color-subheader: #F1FBF0;
$color-menu: #313050;

$color-button1: #FFA16C;
$color-button2: #FCDC2F;
$color-button3: #9D5BB5;
$color-button1-dark: #EF8049;
$color-button2-dark: #FC9B2A;
$color-button3-dark: #9142AB;

$color-gray: #7C88A2;

$color-info: #2B9FD0;
$color-normal: #2DCC70;
$color-danger: #FF8C97;
$color-shadow: #EADCFF;

$color-button-border: #001D4B;
$color-menu-border: #342741;